.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .7;
    }

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__foto{
        margin: 0 auto;
        height: 240px;
        display: block;
        border-radius: 50%;
    }

    @media (max-width: 640px) {
        padding: 40px 0;
        &__foto {
            height: 160px;
        }
        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}